.vip-projects {
    margin-top: 50pt; 
    display: block;
    min-height: 350pt;
}

article.vip-project {
    width: 46%;
    height: 350pt;
    float: left;
    margin-right: 4%;
    display: block;
}

.what-who {
    font-size: smaller;
    margin: 10pt 0 20pt 0;
}

/* article .thumbnail {
    width: 46%;
    height: 200pt;
} */

article .thumbnail img {
    max-width: 100%;
    max-height: 100%;
}

.content img {
    width: 100%;
}

.footer {
    position: relative;
    margin-top: 150pt !important;
    height: 70pt;
    font-size: small;
}

.footer .left {
    float: left;
}

.footer .right {
    float: right;
}