h1 {
    margin-top: 5vh !important;
}
h2 {
    margin-top: 4vh !important;
}
h3 {
    margin-top: 3vh !important;
}
h4 {
    margin-top: 2vh !important;
}
h5 {
    margin-top: 1vh !important;
}

main {
    min-height: 90vh;
}

div.header {
    margin: 5vh 0 0 0;
}

div.header p {
    font-size: 18pt;
}

#home {
    height: 85vh; 
    padding-top: 30vh;
}

.services {
    text-align: left;
}

.vip-projects {
    margin-top: 50pt; 
    display: block;
    min-height: 350pt;
}

article.vip-project {
    width: 46%;
    height: 350pt;
    float: left;
    margin-right: 4%;
    display: block;
}

@media only screen and (max-width: 720px) {
    article.vip-project {
        width: 100%;
    }
}

.what-who {
    font-size: smaller;
    margin: 10pt 0 20pt 0;
}

article .thumbnail img {
    max-width: 100%;
    max-height: 100%;
}

.content img {
    width: 100%;
    min-height: 0;
}

footer .impress {
    position: relative;
    height: 5vh;
    margin-top: 5vh;
    font-size: small;
}

footer .impress .left {
    float: left;
}

footer .impress .right {
    float: right;
}