{{ define "title" -}}
  {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "menu.html" . }}
  {{ partial "header.html" . }}
{{ end }}
{{ define "main" }}
  <div class="header">
    <p>{{ .Title }}</p>
  </div>
  <main class="content">
      {{ if .Params.image }}
        <img src="{{ .Params.image }}" alt="">
      {{ end }}
      <div class="what-who">
          {{ .Params.what }}<br>
          {{ .Params.who }}
      </div>
      {{ .Content }}
  </main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer.html" . }}
{{ end }}

