{{ define "title" -}}
  {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "menu.html" . }}
  {{ partial "header.html" . }}
{{ end }}
{{ define "main" }}
  <header>
    <p style="font-size: 18pt;">{{ .Title }}</p>
  </header>
  <main class="content">
      <img src="{{ .Params.image }}" alt=".Site.Title">
      <div class="what-who">
          {{ .Params.what }}<br>
          {{ .Params.who }}
      </div>
      {{ .Content }}
  </main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer.html" . }}
{{ end }}

