{{ define "title" -}}
  {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "header.html" . }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
    <div style="height: 85vh; padding-top: 40%;">
        <p style="font-size: 50pt;">zirkular</p>
        code.life.balance.
    </div>
    <div class="services" style="font-size: normal;">
        CREATIVE CODING | PROJECTION MAPPING | VIRTUAL REALITY | 
        WEB DEVELOPMENT | VIDEO PRODUCTION | GENERATIVE DESIGN | AUDIO / VIDEO PERFORMANCES
    </div>
    <div class="vip-projects">
        <p style="font-size: 18pt; margin-top: 0pt;">Upcoming</p>
        {{ range .Paginator.Pages }}
          {{ if eq .Params.vip true }}
            {{ partial "projects.html" . }}
          {{ end }}
        {{ end }}
    </div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer.html" . }}
{{ end }}
