{{ define "title" -}}
  {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "header.html" . }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
    <p style="font-size: 50pt; margin-top: 40%;">zirkular</p>
    code.life.balance.
    <div class="vip-projects">
        <p style="font-size: 18pt; margin-top: 0pt;">Upcoming</p>
        {{ range .Paginator.Pages }}
          {{ if eq .Params.vip true }}
            {{ partial "projects.html" . }}
          {{ end }}
        {{ end }}
    </div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer.html" . }}
{{ end }}
